---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Websites",
    description:
      " Professional websites tailored to your needs, built with cutting-edge technologies.",
      icon: "bx:bxs-window-alt"
  },
  {
    title: "Ai powered web apps",
    description:
      "Harness the power of artificial intelligence to enhance user interactions and automate processes.",
    icon: "bx:bxs-bot",
  },
  
  {
    title: "E-commerce",
    description:
      "I create an online store that maximizes sales and provides seamless shopping experiences.",
    icon: "bx:bxs-cart",
  },
  
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Quik development of any website
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Transforming your online vision into reality with cutting-edge design,
    flawless functionality, and seamless user experience. Elevate your digital
    presence with innovative web development solutions.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
